In [1]:
#Q1 eplain the key features of Python that make it a popular choice for programming


# Versatility: Python is versatile and can be used for various applications such as web development,data analysis,machine learning and more.
# Large Standard Library: Python comes with a large standard library that provides ready-to-use modules and packages for different tasks,reducing the need for writing code from scratch.
# Community Support: Python has a vast and active community of developers who contribute to its growth,provide support,and create a wide range of third-party modules and libraries.
# Ease Of Leaening: Python has a simple syntax,easy to learn,easy to understand,and write.
# Read Ability: Reading a python code is just reading english that's why it is the language for beginners.

In [4]:
#Q2 Describe the role of predefined keywords in python and provide examples of how they are used in a program


# Keywords are reserved words in Python that have special meanings and cannot be used as identifiers (variable names, function names, etc.)
# Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.
# Keywords are case-sensitive and cannot be redefined or overridden within a Python program.

In [7]:
# if/else statement
# example

x = 15
if x > 10:
  print("x is greater then 10")
else:
  print("x is not greater then 10")

x is greater then 10

In [14]:
# if/elif:used for multiple condition
# example

x = 15
if x > 10:
  print("x is greater then 10")
elif x == 10:
  print("x is equal to 10")
else:
  print("x is not greater then 10")

x is greater then 10

In [15]:
# nested if
# example

x = 15
y = 5
if x > 10:
  print("x is greater then 10")
  if y > 10:
    print("y is greater then 10")
  else:
    print("y is not greater then 10")
else:
  print("x is not greater then 10")

x is greater then 10
y is not greater then 10

In [20]:
# while loop statement:it allow us to execute a block of code repeatedly
# example

count = 0
while count < 5:
  print(count)
  count += 1

0
1
2
3
4

In [21]:
# for statement:
# example

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [22]:
#Q3 Compare and contrast mutable and immutable objects in python with examples

# In Python, objects can be either changeable (modifiable) or unchangeable (unchangeable).
# Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot.
# Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage, and concurrency in Python programs.

In [27]:
# mutable example:

letter = [1,2,3,5,"tanu"]
letter[4] = "harsh"
print(letter)

[1, 2, 3, 5, 'harsh']

In [28]:
# immutability example : which cannot be changed

letter = "beautiful"
letter[2] = "h"

TypeError: 'str' object does not support item assignment

In [29]:
#Q4 Discuss the different types of operators in python and provide examples of how they are used


# Operators are special symbols or keywords that are used to carry out specific actions on numbers or variables in Python expressions.
# Python supports various types of operators, including arithmetic operators (+, -, *, /), comparison operators (==, !=, <, >), logical operators (and, or, not), assignment operators (=, +=, -=, *=, /=), etc.
# Operators have precedence and associativity rules that determine the order of evaluation in expressions.

In [30]:
#1 Arithmetic operators: addition(+):used to add two operands
# example

a = 5
b = 3
a+b

8

In [31]:
# subtraction(-):used to subtract the second operand from the first
# example

a = 8
b = 3
a-b

5

In [32]:
# multiplication(*):used to multiply two operands
# example

a = 4
b = 6
a*b

24

In [33]:
# Division(/):used to divide the first operand by the second
# example

a = 10
b = 2
a/b

5.0

In [34]:
#2 Compaeison operators:equal to(==):checks if two operands are equal
# example

a = 5
b = 5
(a==b)

True

In [35]:
# Not equal to(!=):checks if two operands are not equal
# example

a = 5
b = 3
(a != b)

True

In [36]:
#3 Logical operators:AND(and):returns true if both operands are true
# example

a = True
b = False
a and b

False

In [37]:
# OR(or):returns true if at least one operand is true
# example

a = True
b = False
a or b

True

In [38]:
#Q5 Explain the concept of type casting in python with examples

# Type casting, also referred to as type conversion, is the process of changing one data type to another in Python.
# It allows you to convert values from one data type to another, such as converting a string to an integer or a float to a string
# Python provides built-in functions for type casting, such as int(), float(), str(), list(), tuple(), dict(), etc.
# Type casting is often necessary for performing arithmetic operations, data manipulation, and input/output operations in Python programs.

In [39]:
# integer to float
# example

number = 2
print(type(number))
change = float(number)
print(change)
print(type(change))

<class 'int'>
2.0
<class 'float'>

In [40]:
# float to string
# example

number = 4.0
print(type(number))
change = str(number)
print(change)
print(type(change))

<class 'float'>
4.0
<class 'str'>

In [41]:
# integer to boolean
# example

number = 2
print(type(number))
change = bool(number)
print(change)
print(type(change))

<class 'int'>
True
<class 'bool'>

In [42]:
# string to integer: will raise a valueError
#example

name = "tanu"
print(type(name))
change = int(name)
print(change)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'tanu'

In [43]:
# string to list
# example

name = "tanu"
print(type(name))
change = list(name)
print(change)
print(type(change))

<class 'str'>
['t', 'a', 'n', 'u']
<class 'list'>

In [44]:
#Q6 how do conditional statements work in python?illustrate with examples


# Conditionals in Python are used to execute code based on the evaluation of one or more conditions.
# Python supports conditional statements such as if, elif (else if), and else to control the flow of execution.
# Conditionals can be nested to handle multiple conditions and control different branches of execution based on the outcome of logical expressions.

In [45]:
# how to use 'if' statement:execute the 'if' block,if the condition is true then you will go inside indentation box
# example

a = 100
if a > 0:
  print("the number is greater then 0.")

the number is greater then 0.

In [46]:
# false statement:so if you take false statement and execute it will print nothing
# example

a = 100
if a < 0:
  print("the number is greater then 0.")

In [48]:
# how to use'else' statement:the 'else' statement allows you to execute a different block of code if the 'if' condition is false
# example

num = -5
if num > 0:
  print("the number is positive.")
else:
    print("the number is negative.")

the number is negative.

In [50]:
# how to use'elif' statement: the 'elif' statement allows you to check multiple conditions in sequence,and execute different code blocks depending on which condition is true
# example

a = 10
if a > 100:
  print("the number is greater then 100.")
elif a < 100:
    print("the number is less then 100.")
else:
      print("the number is equal to 100.")

the number is less then 100.

In [51]:
#Q7 Describe the different types of loops in python and their use cases with examples


# In Python, loops are employed to repeat a sequence of actions or code until a specific condition is fulfilled.
# Python offers two primary types of loops: for loops and while loops.
# “for” loops are used for iterating over a sequence of elements, while “while” loops are used for executing code until a specified condition becomes False

In [52]:
# For loop:use case:the 'for' loop is typically used when you know the number of iterations or when you want to iterate over a sequence like a list,tuple,string or range
# example

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [53]:
# while loop:use case:the 'while' loop is used when you are uncertain about the number of iterations and want to continue looping until a certain condition is met
# example

count = 0
while count < 5:
  print(count)
  count += 1

0
1
2
3
4